<% content_for :title do %>
About Vieques
<% end %>
<p>
<a href="http://en.wikipedia.org/wiki/Vieques" target="_new">Vieques</a> is an island off the east coast of <a href="<%= vieques_pr_url %>">Puerto Rico</a>. It is fairly small (21 miles long by 4 miles wide) and less developed than Puerto Rico (no stop lights). From World War II until 2003, most of the island was owned by the US Navy and was used for military exercises (i.e. bombing things).
</p>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;sll=18.117466,-65.45105&amp;sspn=0.140309,0.255947&amp;ie=UTF8&amp;ll=18.126439,-65.438862&amp;spn=0.140302,0.255947&amp;z=11&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=&amp;sll=18.117466,-65.45105&amp;sspn=0.140309,0.255947&amp;ie=UTF8&amp;ll=18.126439,-65.438862&amp;spn=0.140302,0.255947&amp;z=13">View Larger Map</a></small>
</p>
