<% content_for :title do %>
  What to do in Vieques
<% end %>
<p>
There's a lot of fun stuff to do on Vieques, and our <a target="_new" href="<%= travel_guide_url %>">travel guide</a> should have some good pointers on where to get started with:
<ul>
<li>Amazing beaches</li>
<li>Bioluminescent Bay</li>
<li>Birding</li>
<li>Snorkeling</li>
<li>Hourseback tours</li>
<li>Kayaking</li>
</ul>
</p>
<p>
<img src="http://www.abessnorkeling.com/images/photos/biobay_tato.jpg" style="float:left; margin: 8px;" width='150'/>
As mentioned in our <a href="<%= wedding_expect_url %>">schedule of events</a>, on Friday, after the beach party, guests are encouraged to visit the <a target="_new" href="http://www.tripadvisor.com/Attraction_Review-g147326-d147796-Reviews-Bioluminescent_Mosquito_Bay-Isla_de_Vieques_Puerto_Rico.html">Bioluminescent Bay</a>.  This is a "must-see".  Amy and I went to one on the mainland of Puerto Rico and it was <strong>amazing</strong>; the one in Vieques is supposed to be <strong>far</strong> better.  To get a sense of what we mean, check out some <a target="_new" href="http://www.google.com/images?q=vieques+bioluminescent+bay&um=1&ie=UTF-8&source=univ&ei=3ZUYTa_MN4SclgfDk6yHDA&sa=X&oi=image_result_group&ct=title&resnum=1&ved=0CCIQsAQwAA&biw=1833&bih=982">pictures</a>&hellip;those are not Photoshopped!
</p>
<p>
We'll post more info as we have it on reserving trips for the bio-bay.  You don't want to miss out!
</p>

