<% content_for :title do %>
  Stuff to do in Vieques
<% end %>
<p>
We will post more specific information about these activities as we get more information. But just to get you excited, here are a few things to look forward to...
<ul>
<li>Beach</li>
<li>Bioluminescent Bay</li>
<li>Birding</li>
<li>Snorkeling</li>
<li>Hourseback tours</li>
<li>Kayaking</li>
</ul>
</p>

