<% content_for :title do %>
  Getting Around
<% end %>
<p>
You will most likely need to rent a car, and you should do so as soon as you've made your <a href="<%= vieques_get_there_url %>">travel plans</a>.  The packet of travel information that you've hopefully received by now should have all the information you need to rent a car for our trip.  If you lost it, or didn't receive it, you can <a href="<%= travel_guide_url %>">download a PDF</a> or <a href="<%= us_contact_url %>">contact us</a> for a copy.
</p>
