<% content_for :title do %>
  Getting There
<% end %>
<p>
Please plan to arrive in Vieques (or San Juan at the least) by <strong>Thursday, June 2nd, 2011</strong>.  This will ensure that you make the wedding, even if there's hiccups in your travel.
</p>
<p>
The specifics of what you need to know are in the packet of travel information that you've hopefully received by now.  This is the best resource for planning your trip.  If you lost it, or didn't receive it, you can <a href="<%= travel_guide_url %>">download a PDF</a> or <a href="<%= us_contact_url %>">contact us</a> for a copy.
</p>
<p>
</p>
