<% content_for :title do %>
  Getting Around
<% end %>
<p>
Vieques is a small island, but it’s not very developed. There isn’t much in the way of public transportation there. Renting a car would be an easy way to get around.  
</p>
<p>Car rental companies in Vieques:
<ul>
  <li>Abreeze Car Rental (787) 741-8156</li>
  <li>B&amp;E Car Rental (787) 435-6488</li>
  <li>Chepito's Car Rental (787) 741-8691</li>
  <li>Island Car Rental (787) 741-1666</li>
  <li>Marcos Car Rental (787) 741-1388</li>
  <li>Maritza's Car Rental (787) 741-0078</li>
  <li>Martineau Car Rental (787) 741-0087</li>
  <li>Toni's Car Rental (787) 741-8135</li>
  <li>Vieques Car Rental (787) 741-1037</li>
</ul>
</p>
<p>
There are also taxi-like cars and vans on the island that can be used either as a shared ride, or just for you. They have yellow license plates.
</p>

