<% content_for :title do %>
About Puerto Rico
<% end %>
<p>
<a target="_new" href="http://en.wikipedia.org/wiki/Puerto_Rico">Puerto Rico</a> is a territory of the US, located in the Caribbean Ocean. From a practical perspective, this means that you do not need a passport to get there. Most Puerto Ricans are bilingual in Spanish and English, so communication should not be difficult either.
</p>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=18.234569,-66.417847&amp;spn=2.243318,4.095154&amp;z=8&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/?ie=UTF8&amp;ll=18.234569,-66.417847&amp;spn=2.243318,4.095154&amp;z=9&amp;source=embed">View Larger Map</a></small>
</p>
