<% content_for :title do %>
  Where to Stay
<% end %>
<p>
All of these hotels/B&amp;Bs/Guest Houses rate highly on Trip Advisor and/or are listed on Frommer’s Guide to Vieques. 
<ul>
  <li><a href="http://www.villacoralguesthouse.com/">Villa Coral Guest house</a> (In Isabella segunda)</li>
  <li><a href="http://www.casadeamistad.com/">Casa de Amistad guest house</a> (In Isabella Segunda)</li>
  <li><a href="http://www.acaciaguesthouse.com/">Acacia guest house</a> (In Esperanza on the south coast)</li>
  <li><a href="http://www.wvieques.com/">W Retreat and Spa, Vieques: </a></li>
  <li><a href="http://www.bravobeachhotel.com/home.html">Bravo Beach Hotel</a> (Sorry - no kids allowed here)</li>
  <li>Hacienda Tamarindo: http://www.haciendatamarindo.com/</li>
  <li><a href="http://www.hectorsbythesea.com/info.html">Hector’s by the Sea</a> (South Coast)</li>
  <li><a href="http://www.crowsnestvieques.com/crowsnestpage.html">Crow’s Nest Inn</a></li>
  <li><a href="http://www.bananasguesthouse.com/">Bananas Guest House</a> (not all rooms are air-conditioned!)</li>
</ul>
</p>
<p>If you have problems finding a suitable place to stay, please <a href="<%= us_contact_url %>">contact us</a> and we can help you.</p>
