<% content_for :title do %>
Contact
<% end %>
<p>
For most wedding-related things, it's best to contact our wedding planner, Sandy Malone at <a href="mailto:info@weddinginvieques.com">info@weddinginvieques.com</a>.
</p>
<p>
You can also feel free to contact Amy at <a href="mailto:amymaura@gmail.com">amymaura@gmail.com</a>, or Dave at <a href="davetron5000@gmail.com">davetron5000@gmail.com</a>
</p>
