<% content_for :title do %>
  <% if @known %>
    How we met according to <%= @according_to %>
  <% else %>
    Uhhhh, <%= @according_to %> probably doesn't know how we met
  <% end %>
<% end %>
<% if @according_to == 'Rudy' %>
  <p>
  Amy just showed up one day and gave me lots of bellyrubs.  Not sure where she came from.
  </p>
<% elsif @according_to == 'Dave' %>
  <p>
  Tony and I were at the Red &amp; the Black seeing a friend of ours' band.  We knew the singer of the other band that was playing, and they were working hard on getting people on their mailing list.  Amy was going around the room getting people to sign up for their mailing list.  She was super nice and very friendly and pretty darn cute.  I remembered talking to her a bit and may have mentioned something to the band's singer, although I thought it would be too cheesy to ask for her number, so I didn't. 
  </p>
  <p>
  Amy emailed me a few days later and we made plans to meet up.  I wasn't sure if it was a date or not, but we hung out every night that weekend and, it turns out, it <strong>was</strong> a date!  Thankfully.
  </p>
<% elsif @according_to == 'Amy' %>
  <p>
  It was a Saturday night in mid-February of 2007. Some friends and I were going out to the Red and the
  Black (a bar downtown) to listen to a friend’s band play. There were three bands playing that night.
  The one we came to see was the second one to play. I was asked to be the mailing list girl. And I was
  absolutely the right person for the job! When our band finished their set, I marched myself around to
  (seriously) every single person in the room (I should mention, it isn’t a big club, so this job may seem
  more impressive than it actually was).
  </p><p>
  There were two guys in particular who I got signed up on the mailing list. One was taller with red hair,
  and the other was closer to my height with dark hair and really pretty blue eyes. They were there to see
  the third band play. I chatted with them a little, and then continued my job. I stuck around briefly to
  hear the next band play a few songs, and then decided to call it a night.
  </p><p>
  A day or two later, I was talking to the friend whose band I came to see. She told me that she got a
  feeling from something he said that the guy I was talking to might be interested in me. I had no idea who
  she was talking about. I talked to <strong>EVERYONE</strong> in the room that night (okay, and maybe I had a few drinks).
  When I finally figured out who she was referring to, it made no sense. That guy with the dark hair and
  blue eyes didn’t talk <strong>AT ALL</strong>. I didn’t remember a word coming out of his mouth. His red—haired friend
  was the chatty one!
  </p><p>
  In any event, I couldn’t help but think about this. She had mentioned that the guy was in a band, so I
  found the band’s myspace page. There were pictures. And he was pretty cute! What, oh what does a girl
  do now?
  </p><p>
  Well, if you are <strong>this girl</strong>, you email his band email address of course! What have I got to lose, really?
  My email subject line was: from Amy who harassed you guys to sign up for mailing lists on Saturday
  night... ;-)
  </p><p>
  Now, this could have gotten a little tricky if I was given bad signals. Which one would write back?
  </p><p>
  Luckily (no offense, Tony!) Dave wrote back. And he was very funny, in a dry and witty sort of way (my
  favorite!), which of course made me even more intrigued. After missing an opportunity to “meet” each
  other again at another club, we finally met two week later for drinks. Our first date was at Café Saint-Ex,
  and it will go down in history as the easiest first date I have ever been on. Ever. It was a great start to a
  great many many years.
  </p>  
<% end %>
