@font-face {
  font-family: "Angelina";
  src: local("☺"), url(/fonts/angelina-webfont.ttf) format('truetype'), url(/fonts/angelina-webfont.woff) format('woff'), url(/fonts/angelina-webfont.svg) format('svg');
}

/* line 20, ../../app/stylesheets/styles.scss */
body.bp {
  background-image: url(/images/vieques-background.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  color: #2f3f2f;
}

/* line 27, ../../app/stylesheets/styles.scss */
html, body, body.bp {
  background-color: #568cb0;
  height: 100%;
  font-family: Palatino, Georgia, Times, serif;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
}

/* line 36, ../../app/stylesheets/styles.scss */
.mainpage {
  background-color: none;
  text-align: center;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

/* line 44, ../../app/stylesheets/styles.scss */
#header {
  background: #fdf9cc;
  text-align: center;
  font-family: "Angelina";
  margin-bottom: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -o-border-bottom-left-radius: 20px;
  -ms-border-bottom-left-radius: 20px;
  -khtml-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -o-border-bottom-right-radius: 20px;
  -ms-border-bottom-right-radius: 20px;
  -khtml-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 50, ../../app/stylesheets/styles.scss */
#header h1 {
  text-shadow: #729572 1px 2px 1px;
  font-size: 80px;
  line-height: 80px;
  color: #2f3f2f;
  margin: 0;
}
/* line 56, ../../app/stylesheets/styles.scss */
#header h1 a {
  text-decoration: none;
  color: #2f3f2f;
}
/* line 59, ../../app/stylesheets/styles.scss */
#header h1 a:hover, #header h1 a:visited {
  color: #2f3f2f;
}
/* line 64, ../../app/stylesheets/styles.scss */
#header h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

/* line 71, ../../app/stylesheets/styles.scss */
h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

/* line 76, ../../app/stylesheets/styles.scss */
h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* line 82, ../../app/stylesheets/styles.scss */
#main-content {
  overflow: auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #fdf9cc;
  padding: 20px;
}

/* line 89, ../../app/stylesheets/styles.scss */
#nav {
  float: left;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #568cb0;
  color: #fdf9cc;
  padding: 20px;
  width: 260px;
}
/* line 96, ../../app/stylesheets/styles.scss */
#nav ul {
  text-align: left;
}
/* line 98, ../../app/stylesheets/styles.scss */
#nav ul li {
  font-size: 32px;
  font-family: 'Angelina';
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 103, ../../app/stylesheets/styles.scss */
#nav ul li ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 106, ../../app/stylesheets/styles.scss */
#nav ul li ul li {
  font-family: Palatino, Georgia, Times, serif;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}
/* line 115, ../../app/stylesheets/styles.scss */
#nav ul a {
  color: #fdf9cc;
}
/* line 117, ../../app/stylesheets/styles.scss */
#nav ul a:hover {
  color: white;
}

/* line 124, ../../app/stylesheets/styles.scss */
#text-content {
  text-align: justify;
  margin-left: 320px;
}
/* line 125, ../../app/stylesheets/styles.scss */
#text-content a {
  color: #455c45;
}
/* line 127, ../../app/stylesheets/styles.scss */
#text-content a:visited {
  color: #506a50;
}
/* line 130, ../../app/stylesheets/styles.scss */
#text-content a:hover {
  color: #668766;
}
/* line 136, ../../app/stylesheets/styles.scss */
#text-content p {
  padding: 10px;
  text-indent: 20px;
}
/* line 140, ../../app/stylesheets/styles.scss */
#text-content h4, #text-content h5 {
  font-weight: bold;
}
/* line 143, ../../app/stylesheets/styles.scss */
#text-content h4 {
  font-size: 20px;
}
/* line 146, ../../app/stylesheets/styles.scss */
#text-content h5 {
  font-size: 18px;
  text-indent: 10px;
  margin-top: 10px;
}
/* line 151, ../../app/stylesheets/styles.scss */
#text-content table {
  margin-top: 0;
  width: 100%;
}
/* line 155, ../../app/stylesheets/styles.scss */
#text-content table caption {
  display: none;
}
/* line 158, ../../app/stylesheets/styles.scss */
#text-content table thead th {
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 4px #568cb0;
}
/* line 164, ../../app/stylesheets/styles.scss */
#text-content table tbody td {
  font-size: 14px;
  padding-right: 24px;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid thin #568cb0;
  color: #5b795b;
}
/* line 170, ../../app/stylesheets/styles.scss */
#text-content table tbody td ul {
  list-style: circle;
}
/* line 172, ../../app/stylesheets/styles.scss */
#text-content table tbody td ul li {
  list-style-position: outside;
  text-indent: 0;
}
/* line 180, ../../app/stylesheets/styles.scss */
#text-content table tbody td.airline-name {
  font-weight: bold;
  color: #2f3f2f;
}
/* line 185, ../../app/stylesheets/styles.scss */
#text-content table.ferry caption {
  display: table-caption;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: #568cb0;
  margin-bottom: 10px;
}
/* line 194, ../../app/stylesheets/styles.scss */
#text-content ul li {
  list-style: circle;
  text-indent: 40px;
  list-style-position: inside;
}

/* line 202, ../../app/stylesheets/styles.scss */
ul.events {
  text-align: left;
}

/* line 206, ../../app/stylesheets/styles.scss */
blockquote {
  font-style: italic;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
}

/* line 212, ../../app/stylesheets/styles.scss */
strong {
  font-weight: bold;
}
