@font-face {
  font-family: "Angelina";
  src: local("☺"), url(/fonts/angelina-webfont.ttf) format('truetype'), url(/fonts/angelina-webfont.woff) format('woff'), url(/fonts/angelina-webfont.svg) format('svg');
}

/* line 20, ../../app/stylesheets/styles.scss */
body.bp {
  background-image: url(/images/vieques-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  color: #2f3f2f;
}

/* line 27, ../../app/stylesheets/styles.scss */
html, body, body.bp {
  background-color: #568cb0;
  height: 100%;
  font-family: Palatino, Georgia, Times, serif;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
}

/* line 36, ../../app/stylesheets/styles.scss */
.mainpage {
  background-color: none;
  text-align: center;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

/* line 44, ../../app/stylesheets/styles.scss */
#header {
  background: #fdf9cc;
  text-align: center;
  font-family: "Angelina";
  margin-bottom: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -o-border-bottom-left-radius: 20px;
  -ms-border-bottom-left-radius: 20px;
  -khtml-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -o-border-bottom-right-radius: 20px;
  -ms-border-bottom-right-radius: 20px;
  -khtml-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 50, ../../app/stylesheets/styles.scss */
#header h1 {
  text-shadow: #729572 1px 2px 1px;
  font-size: 80px;
  line-height: 80px;
  color: #2f3f2f;
  margin: 0;
}
/* line 56, ../../app/stylesheets/styles.scss */
#header h1 a {
  text-decoration: none;
  color: #2f3f2f;
}
/* line 59, ../../app/stylesheets/styles.scss */
#header h1 a:hover, #header h1 a:visited {
  color: #2f3f2f;
}
/* line 64, ../../app/stylesheets/styles.scss */
#header h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

/* line 71, ../../app/stylesheets/styles.scss */
h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

/* line 77, ../../app/stylesheets/styles.scss */
#main-content {
  overflow: auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #fdf9cc;
  padding: 20px;
}

/* line 84, ../../app/stylesheets/styles.scss */
#nav {
  float: left;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #568cb0;
  color: #fdf9cc;
  padding: 20px;
  width: 260px;
}
/* line 91, ../../app/stylesheets/styles.scss */
#nav ul {
  text-align: left;
}
/* line 93, ../../app/stylesheets/styles.scss */
#nav ul li {
  font-size: 32px;
  font-family: 'Angelina';
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 98, ../../app/stylesheets/styles.scss */
#nav ul li ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 101, ../../app/stylesheets/styles.scss */
#nav ul li ul li {
  font-family: Palatino, Georgia, Times, serif;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}
/* line 110, ../../app/stylesheets/styles.scss */
#nav ul a {
  color: #fdf9cc;
}
/* line 112, ../../app/stylesheets/styles.scss */
#nav ul a:hover {
  color: white;
}
