@import "compass/css3/font-face";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";

@include font-face("Angelina", font-files( "/fonts/angelina-webfont.ttf", truetype, "/fonts/angelina-webfont.woff", woff, "/fonts/angelina-webfont.svg", svg) );

$line-height: 20px;
$font-size: $line-height - 4;
$blue: #568CB0;
$dark-green: #243024;
$off-white: #FDF9CC;
$drab-green: #7A7420;

$matte-color: $blue;
$main-color: lighten($dark-green,5%);
$bg-color: $off-white;

$body-font: Palatino, Georgia, Times, serif;

body.bp {
  background-image: url(/images/vieques-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  color: $main-color;
}
html, body, body.bp {
  background-color: $matte-color;
  height: 100%;
  font-family: $body-font;
  line-height: $line-height;
  font-size: $font-size;
  margin: 0;
}

.mainpage {
  background-color: none;
  text-align: center;
  width: $line-height * 44;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: $bg-color;
  text-align: center;
  font-family: "Angelina";
  margin-bottom: $line-height;
  @include border-bottom-radius($line-height);
  h1 {
    @include text-shadow(lighten($main-color,30%),1px,2px);
    font-size: $line-height * 4;
    line-height: $line-height * 4;
    color: $main-color;
    margin:0;
    a {
      text-decoration: none;
      color: $main-color;
      &:hover, &:visited {
        color: $main-color;
      }
    }
  }
  h2 {
    font-size: $line-height * 2;
    line-height: $line-height * 2;
    margin:0;
  }
}

h3 {
  font-size: $line-height * 1.5;
  line-height: $line-height * 2;
  font-weight: bold;
}

#main-content {
  overflow: auto;
  @include border-radius($line-height);
  background-color: $bg-color;
  padding: $line-height;
}

#nav {
  float: left;
  @include border-radius($line-height);
  background-color: $matte-color;
  color: $bg-color;
  padding: $line-height;
  width: $line-height * 13;
  ul {
    text-align: left;
    li {
      font-size: $font-size + 16;
      font-family: 'Angelina';
      margin-top: $line-height / 2;
      margin-bottom: $line-height / 2;
      ul {
        margin-top: $line-height / 2;
        margin-bottom: $line-height / 2;
        li {
          font-family: $body-font;
          font-size: $font-size;
          margin-left: $line-height;
          margin-top: 0;
          margin-bottom: 4px;
        }
      }
    }
    a {
      color: $bg-color;
      &:hover {
        color: white;
      }
    }
  }
}

#text-content {
  a {
    color: lighten($main-color,10%);
    &:visited {
      color: lighten($main-color,15%);
    }
    &:hover {
      color: lighten($main-color,25%);
    }
  }
  text-align: justify;
  margin-left: $line-height * 16;
  p {
    padding: $line-height / 2;
    text-indent: $line-height;
  }
  h4, h5 {
    font-weight: bold;
  }
  h4 {
    font-size: $font-size + 4;
  }
  h5 {
    font-size: $font-size + 2;
    text-indent: $line-height / 2;
    margin-top: $line-height / 2;
  }
  table {
    margin-top: 0;
    width: 100%;
  }
  table caption {
    display: none;
  }
  table thead th {
    font-weight: bold;
    font-size: $font-size + 2;
    border-bottom: solid 4px $matte-color;
  }
  table tbody {
    td {
      font-size: $font-size - 2;
      padding-right: $line-height + 4;
      vertical-align: top;
      padding-top: $line-height / 2;
      padding-bottom: $line-height / 2;
      ul {
        list-style: circle;
        li {
          list-style-position: outside;
          text-indent: 0;
        }
      }
      border-bottom: solid thin $matte-color;
      color: lighten($main-color,20%);
    }
    td.airline-name {
      font-weight: bold;
      color: $main-color;
    }
  }
  table.ferry caption {
    display: table-caption;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: $matte-color;
    margin-bottom: $line-height / 2;
  }
  ul {
    li {
      list-style: circle;
      text-indent: $line-height * 2;
      list-style-position: inside;
    }
  }
}

ul.events {
  text-align: left;
}

blockquote {
  font-style: italic;
  font-size: $font-size - 2;
  margin-left: $line-height * 2;
  margin-right: $line-height * 2;
}
strong {
  font-weight: bold;
}
