<% content_for :title do %>
  Welcome!
<% end %>
<div class="header-image"><%= image_tag "http://farm4.static.flickr.com/3252/5797492485_515004207f_m.jpg" %></div>
<p>
Welcome to our website!  
Everything went off wonderfully, <a href="<%= wedding_how_went_url %>">so check it out</a>.
</p>
