<% content_for :title do %>
Schedule of Events
<% end %>
<p>
We've got lots of fun things planned so you enjoy your stay in Vieques!
</p>
<h4>Thursday, June 2nd, 2011</h4>
<p>
Welcome to Vieques!
<ul class="events">
  <li><strong>8-10pm</strong> - Welcome Party (location TBD)</li>
</ul>
</p>
<h4>Friday, June 3rd, 2011</h4>
<p>
<ul class="events">
  <li><strong>2-5pm</strong> - Beach Party at Sun Bay, hosted by the Copelands</li>
  <li><strong>Evening</strong> - Tours of the famous Bioluminescent Bay</li>
</ul>
</p>
<h4>Saturday, June 4th, 2011</h4>
<p>
<ul class="events">
  <li><strong>5pm</strong> - Wedding Ceremony &amp; Reception at Martineau Belle Playa</li>
</ul>
</p>
